@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #eeeeee;
    --secondary-background: #c9c8c8;
    --foreground: #000000;
    --primary: #592dfa;
}

.darkmode {
    --background: #0f1323;
    --secondary-background: #161c32;
    --foreground: #ffffff;
}

body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
