@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f1323;
}

body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    color: white;
}

.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
